In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_json('proj3_data1.json')
df2 = pd.read_json('proj3_data2.json')
df3 = pd.read_json('proj3_data3.json')

df = df1.append(df2, ignore_index=True)
df = df.append(df3, ignore_index=True)
df

/var/folders/p3/1mlnmr7563b2lsdz5xhg4k7w0000gn/T/ipykernel_26010/3537480885.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df1.append(df2, ignore_index=True)
/var/folders/p3/1mlnmr7563b2lsdz5xhg4k7w0000gn/T/ipykernel_26010/3537480885.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df3, ignore_index=True)

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v

In [3]:
df.to_json('ex01_all_data.json', orient='records', indent=4)

In [4]:
missing_values = {}
for col in df.columns:
    num_missing = df[col].isna().sum()
    if num_missing > 0:
        missing_values[col] = num_missing

In [5]:
df_missing_values = pd.DataFrame.from_dict(missing_values, orient='index')
df_missing_values.to_csv('ex02_no_nulls.csv', header=False)

In [6]:
import json
with open('proj3_params.json', 'r') as file:
    params = json.load(file)
params

{'concat_columns': ['make', 'model', 'engine'],
 'id_vars': ['make', 'model'],
 'join_column': 'engine',
 'int_columns': ['doors', 'displacement', 'horsepower', 'cylinders'],
 'grouping_column': 'make',
 'pivot_index': 'make',
 'pivot_columns': 'fuel_type',
 'pivot_values': 'fuel_consumption',
 'aggregations': [['displacement', 'min'],
  ['displacement', 'max'],
  ['fuel_consumption', 'mean']]}

In [7]:
def add_description(row):
    description = ''
    for name in params['concat_columns']:
        description += row[name] + ' '
    description = description[:-1]
    return description

df['description'] = df.apply(add_description, axis=1)
df

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine,description
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI,Audi A3 1.5 TFSI
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo,BMW 3 Series 2.0L TwinPower Turbo
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI,Volkswagen Golf 1.5 TSI
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi,Renault Clio 1.5 dCi
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir,Fiat 500 0.9 TwinAir
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech,Peugeot 208 1.2 PureTech
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4,Volvo XC60 B4
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI,Seat Leon 1.5 TSI
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo,Opel Corsa 1.2 Turbo
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost,Ford Mustang 2.3L EcoBoost
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI,Volkswagen Passat 2.0 TDI
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6,Porsche 911 3.0L Twin Turbo V6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro,Audi Q5 45 TFSI quattro
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered,Volvo S60 T8 Polestar Engineered
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi,Renault Megane 1.5 dCi
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP,Peugeot 3008 1.6 THP
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v,Fiat Panda 1.2 8v
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v,Fiat Punto 1.2 8v

In [8]:
df.to_json('ex03_descriptions.json', orient='records', indent=4)

In [9]:
df_more_data = pd.read_json('proj3_more_data.json')

In [10]:
df = df.join(df_more_data.set_index(params['join_column']), on=params['join_column'], how='left')
df

,make,model,body_type,doors,top_speed,acceleration,fuel_consumption,engine,description,displacement,horsepower,fuel_type,cylinders,emissions_class
0,Audi,A3,hatchback,5.0,220,7.2,6.0,1.5 TFSI,Audi A3 1.5 TFSI,1498.0,150.0,gasoline,4.0,Euro 6d
1,BMW,3 Series,sedan,4.0,240,6.2,NaN,2.0L TwinPower Turbo,BMW 3 Series 2.0L TwinPower Turbo,1998.0,184.0,gasoline,4.0,Euro 6d
2,Volkswagen,Golf,hatchback,5.0,210,8.0,5.0,1.5 TSI,Volkswagen Golf 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
3,Renault,Clio,hatchback,5.0,190,11.0,6.5,1.5 dCi,Renault Clio 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
4,Fiat,500,hatchback,3.0,160,12.9,NaN,0.9 TwinAir,Fiat 500 0.9 TwinAir,875.0,85.0,gasoline,2.0,Euro 6d-TEMP
5,Peugeot,208,hatchback,NaN,190,9.9,5.0,1.2 PureTech,Peugeot 208 1.2 PureTech,1199.0,130.0,gasoline,3.0,Euro 6d
6,Volvo,XC60,SUV,5.0,220,8.0,6.0,B4,Volvo XC60 B4,NaN,NaN,NaN,NaN,NaN
7,Seat,Leon,hatchback,5.0,240,8.0,NaN,1.5 TSI,Seat Leon 1.5 TSI,1498.0,150.0,gasoline,4.0,Euro 6d
8,Opel,Corsa,hatchback,5.0,180,9.9,5.5,1.2 Turbo,Opel Corsa 1.2 Turbo,1197.0,110.0,gasoline,4.0,Euro 6d-TEMP
9,Ford,Mustang,coupe,2.0,249,5.8,10.2,2.3L EcoBoost,Ford Mustang 2.3L EcoBoost,2261.0,350.0,gasoline,4.0,Euro 6d-TEMP
10,Volkswagen,Passat,sedan,4.0,230,7.5,6.0,2.0 TDI,Volkswagen Passat 2.0 TDI,1968.0,150.0,diesel,4.0,Euro 6d-TEMP
11,Porsche,911,coupe,NaN,330,3.5,11.8,3.0L Twin Turbo V6,Porsche 911 3.0L Twin Turbo V6,3000.0,450.0,gasoline,6.0,Euro 6
12,Audi,Q5,SUV,5.0,237,6.3,NaN,45 TFSI quattro,Audi Q5 45 TFSI quattro,1984.0,245.0,gasoline,4.0,Euro 6
13,Volvo,S60,sedan,4.0,250,6.2,6.6,T8 Polestar Engineered,Volvo S60 T8 Polestar Engineered,1969.0,415.0,hybrid,4.0,Euro 6
14,Renault,Megane,hatchback,5.0,215,7.9,5.4,1.5 dCi,Renault Megane 1.5 dCi,1461.0,115.0,diesel,4.0,Euro 6d-TEMP
15,Peugeot,3008,SUV,5.0,210,9.2,5.6,1.6 THP,Peugeot 3008 1.6 THP,1598.0,165.0,gasoline,4.0,Euro 5
16,Fiat,Panda,hatchback,5.0,165,14.5,5.0,1.2 8v,Fiat Panda 1.2 8v,NaN,NaN,NaN,NaN,NaN
17,Fiat,Punto,hatchback,3.0,170,12.5,5.2,1.2 8v,Fiat Punto 1.2 8v,NaN,NaN,NaN,NaN,NaN

In [11]:
df.to_json('ex04_joined.json', orient='records', indent=4)

In [12]:
for i, row in df.iterrows():
    filename = 'ex05_' + row['description'].lower().replace(' ', '_') + '.json'
    row_to_file = row.drop('description')
    row_to_file.to_json(filename, orient='index', indent=4)

In [13]:
for i, row in df.iterrows():
    filename = 'ex05_int_' + row['description'].lower().replace(' ', '_') + '.json'
    row_to_file = row.drop('description')
    for col_name in params['int_columns']:
        if row_to_file[col_name] == row_to_file[col_name]:
            row_to_file[col_name] = int(row_to_file[col_name])
    row_to_file.to_json(filename, orient='index', indent=4)

In [14]:
agg_dict = {}
for col_name, func in params['aggregations']:
    field_name = func + '_' + col_name
    agg_dict[field_name] = df[col_name].aggregate(func)

In [15]:
with open("ex06_aggregations.json", "w") as agg_file:
    json.dump(agg_dict, agg_file, indent=4)

In [16]:
grouped_df = df.groupby(params['grouping_column']).filter(lambda x: len(x) > 1)
grouped_df = grouped_df.groupby(params['grouping_column']).aggregate('mean')
grouped_df

/var/folders/p3/1mlnmr7563b2lsdz5xhg4k7w0000gn/T/ipykernel_26010/1141553332.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df = grouped_df.groupby(params['grouping_column']).aggregate('mean')

,doors,top_speed,acceleration,fuel_consumption,displacement,horsepower,cylinders
make,,,,,,,
Audi,5.000000,228.5,6.75,6.00,1741.0,197.5,4.0
Fiat,3.666667,165.0,13.30,5.10,875.0,85.0,2.0
Peugeot,5.000000,200.0,9.55,5.30,1398.5,147.5,3.5
Renault,5.000000,202.5,9.45,5.95,1461.0,115.0,4.0
Volkswagen,4.500000,220.0,7.75,5.50,1733.0,150.0,4.0
Volvo,4.500000,235.0,7.10,6.30,1969.0,415.0,4.0

In [17]:
grouped_df.to_csv('ex07_groups.csv')

In [18]:
pivoted_df = df.pivot_table(index=params['pivot_index'], columns=params['pivot_columns'], 
                            values=params['pivot_values'], aggfunc='max')
pivoted_df

fuel_type   diesel  gasoline  hybrid
make
Audi           NaN       6.0     NaN
Ford           NaN      10.2     NaN
Opel           NaN       5.5     NaN
Peugeot        NaN       5.6     NaN
Porsche        NaN      11.8     NaN
Renault        6.5       NaN     NaN
Volkswagen     6.0       5.0     NaN
Volvo          NaN       NaN     6.6

In [19]:
import pickle
with open('ex08_pivot.pkl', 'wb') as pivoted_pickle:
    pickle.dump(pivoted_df, pivoted_pickle)

In [20]:
melted_df = df.melt(id_vars=params['id_vars'])
melted_df

           make     model         variable         value
0          Audi        A3        body_type     hatchback
1           BMW  3 Series        body_type         sedan
2    Volkswagen      Golf        body_type     hatchback
3       Renault      Clio        body_type     hatchback
4          Fiat       500        body_type     hatchback
..          ...       ...              ...           ...
211       Volvo       S60  emissions_class        Euro 6
212     Renault    Megane  emissions_class  Euro 6d-TEMP
213     Peugeot      3008  emissions_class        Euro 5
214        Fiat     Panda  emissions_class           NaN
215        Fiat     Punto  emissions_class           NaN

[216 rows x 4 columns]

In [21]:
melted_df.to_csv('ex08_melt.csv', index=False)

In [22]:
statistics_df = pd.read_csv('proj3_statistics.csv')
statistics_df

,Country,Audi_2019,Audi_2020,BMW_2019,BMW_2020,Volkswagen_2019,Volkswagen_2020,Renault_2019,Renault_2020
0,Poland,12,14,21,25,32,36,22,20
1,Germany,24,26,31,35,44,48,17,15
2,France,20,22,29,33,36,40,28,26
3,Spain,16,18,25,29,40,44,19,17
4,Italy,18,20,27,31,48,52,31,29

In [42]:
melted_df = statistics_df.melt(id_vars=['Country'])
melted_df[['Brand', 'Year']] = melted_df['variable'].str.split('_', expand=True)
melted_df = melted_df.drop(columns=['variable'])
pivoted_df = melted_df.pivot_table(index=['Country', 'Year'], columns='Brand', values='value')
pivoted_df.index.names = [None, None]
pivoted_df.columns.name = None

In [ ]:
with open('ex08_stats.pkl.', 'wb') as cars_years_pickle:
    pickle.dump(pivoted_df, cars_years_pickle)